


.botao:first-child {
    border-radius: 40px 0 0 0;
}

.botao:last-child {
    border-radius: 0 40px 0 0;
}



.abas-textos{
  background-color: var(--texto-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

.botao.ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var(--verde);
}